<template id="projeto-template">
    <style>
      @import url('css/projeto.css');
    </style>
    <section id="projeto-container" class="projeto-container">
        <h1>PROJETOS</h1>
        <section class="card-container">
            <!-- BLOCO DO CARD -->
            <div class="card">
              <img src="https://via.placeholder.com/300x180" alt="Projeto 1" />
              <div class="card-content">
                <h3>Projeto 1</h3>
                <p>Descrição do projeto 1.</p>
                <div class="card-buttons">
                  <a href="#" class="btn-primary">Acessar</a>
                  <a href="https://github.com/seu-user/projeto1" class="btn-github" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </section>
        </section>
</template>