<template id="projeto-template">
    <style>
      @import url('css/projeto.css');
    </style>
    <section id="projeto-container" class="projeto-container">
        <div class="banner-titulo-2">
        <img src="images/projetos.png" alt="Sobre mim">
      </div>
        <section class="card-container">
            <!-- BLOCO DO CARD -->
            <div class="card">
              <img src="https://raw.githubusercontent.com/cardosokks/css-background_effect_1/main/images/preview.gif" alt="Projeto 1" />
              <div class="card-content">
                <h3>Backgrounf Effect</h3>
                <p>tecnologias: html/js/css</p>
                <div class="card-buttons">
                  <a href="https://cardosokks.github.io/css-background_effect_1/" class="btn-primary">Pré-visualizar</a>
                  <a href="https://github.com/cardosokks/css-background_effect_1" class="btn-github" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
            <div class="card">
              <img src="images/titulo.jpg" alt="Projeto 1" />
              <div class="card-content">
                <h3>EM BREVE +</h3>
                <p>Projetos novos virão. Fique á vontade caso queira compartilhar seus projetos comigo no LINKEDIN.</p>

              </div>
            </div>
          </section>
        </section>
</template>