
    <template id="sobre-template">
      <style>
        @import url('css/sobre.css');
      </style>
      <section id="sobre-container" class="sobre-container">
        <h1>Sobre Mim</h1>
        </div>
      <div class="sobre-item esquerda">
        <img src="portfolio/images/sobre/imagem1.jpg" alt="Início na tecnologia">
        <p>Meu nome é Ricardo, tenho 27 anos, e minha paixão por tecnologia começou desde cedo.</p>
      </div>
  
      <div class="sobre-item direita">
        <img src="portfolio/images/sobre/imagem2.jpg" alt="Batch scripts">
        <p>Com apenas 12 anos, comecei a criar meus primeiros scripts em Batch — ali percebi que programar era como brincar com o impossível.</p>
      </div>
  
      <div class="sobre-item esquerda">
        <img src="portfolio/images/sobre/imagem3.jpg" alt="Cybersegurança">
        <p>Por volta dos 14, me aventurei na curiosidade sobre trojans e keyloggers, cogitando a área de cibersegurança — mas meu coração sempre bateu mais forte por criar soluções.</p>
      </div>
  
      <div class="sobre-item direita">
        <img src="portfolio/images/sobre/imagem4.jpg" alt="Trabalho escolar">
        <p>Um dos momentos marcantes foi quando fiz um trabalho de inglês com Adobe Framework. A professora amou tanto que mostrou para a escola toda — e eu ganhei um 10!</p>
      </div>
  
      <div class="sobre-item esquerda">
        <img src="portfolio/images/sobre/imagem5.jpg" alt="Aprendendo C">
        <p>Com incentivo do meu primo, comecei a aprender lógica de programação e dei meus primeiros passos em C, entendendo de fato como os códigos ganhavam vida.</p>
      </div>
  
      <div class="sobre-item direita">
        <img src="portfolio/images/sobre/imagem6.jpg" alt="Estudos contínuos">
        <p>A partir dali, nunca mais parei: estudo até hoje, sempre buscando crescer como criador e profissional.</p>
      </div>
  
      <div class="sobre-item esquerda">
        <img src="portfolio/images/sobre/imagem7.jpg" alt="CRUD Python Django">
        <p>Com Python, Django e outras ferramentas, desenvolvi meu primeiro CRUD — e tive certeza de que estava no caminho certo.</p>
      </div>
  
      <div class="sobre-item direita">
        <img src="portfolio/images/sobre/imagem8.jpg" alt="Experiência profissional">
        <p>Trabalhei em diversas funções como T.I, Gerente de T.I e Suporte. Também realizei manutenções em computadores e ajudei empresas a manterem suas operações funcionando.</p>
      </div>
  
      <div class="sobre-item esquerda">
        <img src="portfolio/images/sobre/imagem9.jpg" alt="Carreira de desenvolvedor">
        <p>Hoje, sigo me aprimorando e buscando realizar meu maior objetivo: consolidar minha carreira como Desenvolvedor.</p>
      </div>
    </section>
    </template>

  