<template id="social-template">
    <style>
        @import url('css/social.css');
      </style>
<section class="social-section">
    <div class="social-icons">
      <a href="https://github.com/cardosokks" target="_blank" class="icon github" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/cardosokks" target="_blank" class="icon linkedin" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://instagram.com/cardosokks" target="_blank" class="icon instagram" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </section>
</template>